* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    text-align: center;
    background-color: rgb(3, 5, 56);
    color: white;
    padding: 8px;
    font-size: 22px;
    text-transform: uppercase;
}
#add-contact {
    width: 80%;
    margin: 10px auto;
}
label {
    font-size: 18px;
    display: block;
    margin: 10px 0;
}
.form-group {
    margin: 15px 0;
}
input {
    border: 1px solid black;
    font-size: 22px;
    padding: 10px 2px;
    width: 100%;
    border-radius: 5px;
}
button {
    background-color: rgb(47, 202, 47);
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
    text-transform: uppercase;
}
button:hover {
    background-color: green;
}
hr {
    width: 80%;
    margin: 20px auto;
    opacity: 0.5;
}
#contact {
    width: 80%;
    margin: 10px auto;
    border: 1px solid rgb(108, 101, 101);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    position: relative;
}
#name-display {
    font-weight: bold;
}
#btn-delete {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: white;
    color: red;
    padding: 6px 4px;
    cursor: pointer;
    border: 1px solid rgb(11, 11, 11);
    font-size: 14px;
    font-weight: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2px;
    text-transform: lowercase;
}
#btn-delete:hover {
    background-color: brown;
    color: aliceblue;
    border: none;
}
#delete-message {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the delete message snackbar when clicking on a button (class added with JavaScript) */
#delete-message.show {
  visibility: visible; /* Show the snackbar */
  /* Added animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the delete message in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
